# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executable
*.exe

# Log
*.log
*.dll
/Documentation
/Release
/Doc
/Debug
.settings/
.project
.cproject
/Doc

*.txt
#Latex files
*.aux
*.idx
*.pdf
*.toc
